@import './variables';

* {
	box-sizing: border-box;
}
html, body, #react-app, .App {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body {
    background-color: #F4F7F6;
    font-family: $font-stack;
    margin: 0;
    background: url('../images/bg.jpg') no-repeat top left;
    background-size: cover;
    padding-bottom: 40px;
    
}
ul, li {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
.App {
    min-height: 100vh;
}

.red {
	color: $red;
}

button {
	cursor: pointer;
	border: none;
	background-color: white;
}

.App-logo {
	float: left;
  	margin-right: 10px;
}

#logoTitle {
	float: left;
}

.App-header {
    height: 40px;
    background-color: $dark-color;
    padding: 5px 15px;
    /* position: absolute; */
    width: 100%;
    /* top: 0; */
    -webkit-box-sizing: border-box;
    /* box-sizing: border-box; */
    overflow: hidden;
    color: white;

	i {

	}
}

.App-title {
    font-size: 1.5em;
    float: left;
    margin: 0;
}



#nav {
	position: relative;
	width: 40%;
	height: 30px;
	font-size: 1.2em;
	line-height: 40px;
	margin: auto;
	color: black;
	display: flex;
	text-transform: uppercase;

	a {
		flex: 1;
		text-decoration: none;
		color: #fff;
		cursor: pointer;
	}

	a.active {
		color: $main-color;
	}

	a:hover {
		color: $main-color;
	}
}

#rightHeader {
    float: right;
    line-height: 30px;

    #hamburgerIcon {
        cursor: pointer;
    }
}

#userBlock {
    display: inline-block;
    padding: 0 15px;

	button {
		color: $main-color;
		border: none;
		background-color: #fff;
		cursor: pointer;
	}
	button:hover {
		text-decoration: underline;
	}

	span {
		color: $main-color;
		font-weight: bold;
		text-transform: uppercase;
	}
}

#logoutBtn {
	text-decoration: none;
	color: red;
	display: block;
	:hover {
		text-decoration: underline;
	}
}


#container {
	width: 100%;
    height: calc(100vh - #{$header-height});
	position: relative;
    padding: 15px;
}
#container.withNavBar {
    /*width: calc(100vw - #{$nav-width + 15});*/
}

#main {
	width: 80%;
    margin: auto;
	padding-top: 20px;
    position: relative;
    overflow: hidden;
}

#homepageContent form {
    background-color: white;
    padding: 25px 20px 40px;
    opacity: 0.8;
    font-size: 1.2em;
}

form {
 


    h2 {
        margin: 0;
        margin-bottom: 20px;
    }


    label {
        display: block;
        width: 80%;
        text-align: left;
        margin: auto;
        margin-bottom: 30px;
        color: $dark-color;
    }

    input[type='text'], input[type='password'] {
        width: 100%;
        border: 0;
        font-size: 1.3em;
    }

    input:focus, input:active {
        outline: none;
        border: none;
    }

    select, .react-date-picker {
        font-size: 1em;
        display: block;
    }

    .react-datepicker-wrapper input[type='text'] {
        font-size: 1em;
    }

    .buttonForm {
        background-color: $dark-color;
        color: #fff;
        padding: 10px 40px;
        font-size: 1.2em;
        border-radius: 10px;
        margin-top: 20px;
    }

    .buttonForm:hover {
        background-color: $main-color;
    }
}

#homepageContent {
	display: flex;
	width: 65%;
	margin: auto;
	margin-top: 50px;

	form {
		border-top: 5px solid $main-color;
	}

	#subscribeForm {
		flex-grow: 2;
		margin-right: 3px;
	}


	#lnkForgotPassword {
		color: $main-color;
		font-size: 1em;
		display: block;
		margin-bottom: 15px;
		cursor: pointer;
	}
	#lnkForgotPassword:hover {
		text-decoration: underline;
	}
}

#widgetsList {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
    width: calc(100% - $nav-width);
}
.react-grid-layout {
    overflow: hidden;
    width: 100%;
}
.react-grid-item {
    background-color: #fff;
    border-radius: 10px;
    border-bottom-right-radius: 0;
}
.widget {
    padding: 7px 10px 7px 30px;
    overflow: hidden;
    height: 100%;
    position: relative;

    .grip {
        width: 22px;
        padding: 10px 0px;
        height: 100%;
        background-color: $dark-color;
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        text-align: center;
        cursor: move;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

        i {
            color: white;
            cursor: pointer;
            margin-bottom: 8px;
        }

        i:hover {
            color: $main-color;
        }
    }

    header.widgetHeader {
        height: 50px;
        cursor: move;
        width: calc(100% - 25px);
    }



    h2 {
        font-size: 1.4em;
        line-height: 20px;
        margin: 0;
        width: 90%;
        text-align: left;
        color: $main-color;
        font-weight: normal;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .widgetFav {
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;

        i {
            color: red;
        }
    }

    p.description {
        margin: 0;
        font-size: 1em;
        font-style: italic;
    }

    .widgetContent {
        font-size: 1em;
        overflow: auto;
        height: calc(100% - 50px);

        p {
            margin: 0;
            padding: 0;
        }
    }

    .widgetImg {
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        max-width: 100%;
        max-height: 90%;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }
}


.listWidgetForm {

	text-align: left;

	.listTyping {

        position: relative;
        margin-bottom: 5px;

		input {
			flex-grow: 4;
			width: auto;
            font-size: 1em;
		}
        button {
            position: absolute;
            right: 0;
            line-height: 23px;
        }

		button:hover {
			color: $main-color;
		}
	}


	ul {
		margin-left: 5px;
		padding-left: 10px;
		font-size: 1.2em;
		li {
			line-height: 30px;
			cursor: pointer;

            div {
                line-height: 14px;
                margin-top: 10px;
            }
			i.bullet {
				float: left;
			}

			i.iconDelete {
				display: none;
				line-height: 25px;
				float: right;
			}

			i:hover {
				color: $main-color;

			}
		}
		li:hover {
			i {
				display: inline-block;
                line-height: 30px;
			}


		}

		li.strikethroughItem:hover {
			color: $main-color;
		}

		li {
			div.strikethrough {
				text-decoration: line-through;
			}
		}

	}


}

.timerWidget {
	.timerText {
		text-align: center;
		font-size: 3em;
		font-weight: bold;
	}
}

#popupContainer {
    visibility: hidden;
    position: absolute;
    width: 100vw;
    height: calc(100vh - 85px);
    flex-grow: 1;
    top: 0;
    left: 0;
    z-index: 0;
}

#popupContainer.active {
    visibility: visible;
    z-index: 5;
    background-color: $dark-color;
    overflow: hidden;
    background: rgba(0,0,0,0.3);

    .popup {
        background-color: #fff;
        width: 60%;
        min-height: 750px;
        margin: 40px auto;
        opacity: 1;
        position: relative;
        padding: 20px 40px;

        label {
            width: 100%;
            display: block;
        }

        section {
            text-align: left;
            display: flex;

            .field {
                flex-grow: 1;
            }
        }

        .closeButton {
            z-index: 5;
            position: absolute;
            top: 15px;
            right: 20px;
            cursor: pointer;
        }

        .closeButton:hover {
            color: $main-color;
        }
    }
}

#toolsNav {
    height: calc(100% - #{$header-height});
    position: absolute;
    right: 0;
    top: $header-height;
    font-size: 1.2em;
    flex-direction: column;
    background-color: #1A1A1A;
    padding: 10px 15px;
    overflow: hidden;

    a {
        color: white;
        text-decoration: none;
        margin-bottom: 30px;
        cursor: pointer;
        white-space: nowrap;
        outline: none;

        i {
            float: left;
            line-height: 50px;
            width: 40px;
        }

        span {
            display: block;
        }
    }


    a.active {
        color: $main-color;
    }

    a:hover {
        color: $main-color;
    }

    > li {

        > a {
            height: 50px;
            line-height: 50px;
        }

        ul.subMenu {
            padding-left: 40px;
            color: white;

            li {
                overflow: hidden;
                max-height: 0;
                /*@include transition(max-height 0.2s ease);*/
            }
        }

    }

    > li:hover {
        ul.subMenu li {
            max-height: 150px;
            height: 30px;
            text-transform: uppercase;
            @include transition(max-height 1s ease);
        }
    }
}

#toolsNav.active {
    opacity: 0.9;
    width: $nav-width;
    -webkit-transition: width 0.5s, padding 0.5s, opacity 0.5s;
    transition: width 0.5s, padding 0.5s, opacity 0.5s;
}
#toolsNav.inactive {
    width: 0;
    padding: 0;
    opacity: 0;
    -webkit-transition: width 0.5s, padding 0.5s, opacity 0.5s;
    transition: width 0.5s, padding 0.5s, opacity 0.5s;
}

footer {
    background-color: $dark-color;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
    text-align: center;
    font-size: 0.8em;
    line-height: 25px;
    display: none;

    a {
        color: white;
        text-decoration: none;
    }
}
/* KEYFRAMES */
@include keyframes(slide-up) {
    0% {
        opacity: 1;
        height: 100%;
    }

    100% {
        max-height: 0;
        opacity: 0;
        height: 0;
    }
}